<nav class="navbar o-navbar-ea navbar-static-top" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-ea-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://www.gov.uk/government/organisations/environment-agency" alt="Environment Agency">
            <img alt="Environment Agency - logo"
                 src="images/logo/ea-logo-en-dark.png"
                 srcset="images/logo/ea-logo-master-dark-plain.svg"
                 class="o-navbar-ea-brand--img" />
          </a>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">
            <div class="c-proposition-name">
              <a class="c-proposition-name" href="#">Bathing Water Quality</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="collapse navbar-collapse" id="navbar-ea-menu">
              <ul class="nav navbar-nav navbar-left u-full-width u-margin-0-horiz">
                <li {{#is this.page.filename "index.html"}} class="active" {{/is}}>
                  <a href="index.html">Find</a>
                </li>
                <li {{#is this.page.filename "data/index.html"}} class="active" {{/is}}>
                  <a href="data/index.html">Get the data</a>
                </li>
                <li {{#is this.page.filename "glossary.html"}} class="active" {{/is}}>
                  <a href="help.html#glossary">Glossary</a>
                </li>
                <li {{#is this.page.filename "help.html"}} class="active" {{/is}}>
                  <a href="help.html">Help</a>
                </li>
                <li class="pull-right s-rightmost">
                  <a href="http://environment.data.gov.uk/">EA open datasets</a>
                </li>
                <li class="pull-right">
                  <a href="/bwq/widgets">Web widgets</a>
                </li>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div><!-- /.container -->
</nav>

<div class="container">
  <div class="o-top-colour-bar"></div>
</div>
